body {
  background-color:#d8eeee;
}
hr {
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 10px;
  width: 15%;
}
h1 {
  color:#66BFBF;
  text-align: center;
}
h3 {
  color:#66BFBF;
  text-align: center;
  font-size: 25px;
}
h2 {
  color:#66BFBF;
  text-align: center;
  font-size: 25px;
}
.center {
  background-color:powderblue;
  margin : auto;
  width: 50%;
  border-collapse: separate;
  border-spacing:1px 2px ;

}
.ad {
  width: 97%;
  border-style: solid;
}
.wit-t {
  background-color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing:40px 2px;
}
.wit-t:hover {
  border-spacing:60px 6px;
}
.wit-tab {
  background-color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing:100px 10px;
}
img:hover {
  height:250px;
  width:250px;
}
.wit-tab:hover {
  border-spacing:150px 30px;
}
